#container{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display: flex;
    align-items: center;
    justify-content:center;
    
  }

  #main{
      height: 600px;
      width: 1000px;
      background: #E6E6E6;
  }

    td:nth-child(even){
        border-right-style: dashed;
      
    }
    td:nth-child(odd){
        border-left-style: dashed;
    }
   #main, td,tr {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td{
      width: 200px;
      height: 60px;
  }


  #weekday {
      border-left: white 1px solid;
      border-bottom: white 1px solid;
      text-align: right;
      padding-right: 10pt;
      background: white;
      
  }

  .input {
    text-align: center;
    background: #DEE6EF;
  
  }


  #hours {
    border: none;

    border-top: white 1px solid;
    border-right: none;
    vertical-align: bottom;
    background: white;
    text-align: left;
  }

  #empty {
    border: white 1px solid;
      background: white;
  }

  #border {
    border: white 1px solid;
  }

