.sve{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display: flex;
    align-items: center;
    justify-content:center;
    
  }

  table{
      height: 250px;
      width: 700px;
  }

    td:nth-child(even){
        border-right-style: dashed;
    }
    td:nth-child(odd){
        border-left-style: dashed;
    }
   table, td,tr {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td{
      width: 200px;
      height: 50px;
  }


  #sedmica {
      border-left: white 1px solid;
      border-top: white 1px solid;
      border-bottom: white 1px solid;
      text-align: right;
      padding-right: 10pt;
  }

  #sati {
    border-left: white 1px solid;
      border-top: white 1px solid;
      border-right: white 1px solid;
    
    text-align: left;
  }

  #prazno {
      border: white 1px solid;
  }

  #tekst {
    text-align: center;

  }
